@use "../tools" as *;
.navbar {
  background-color: $color-black;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__title,
  &__drawer-btn {
    width: calc(100% + #{$page-padding-small} * 2);
    margin: 0 - $page-padding-small;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: $font-montserrat;
  }

  &__title {
    background-color: $color-grey-darker;
    color: $color-white;
    font-size: rem(13);
    line-height: rem(16);
    border-top: 1px solid $color-grey-dark;
  }

  &__drawer-btn {
    font-size: rem(16);
    line-height: rem(16);
    color: $color-white;
    @include backgroundColorHover($color-grey-darker);

    .icon {
      flex-shrink: 0;
      margin-left: 24px;
      width: 10px;
    }
  }

  &__nav {
    padding: 16px 0;
  }

  &__navlink {
    display: flex;
    font-weight: 700;
    font-family: $font-montserrat;
    font-size: rem(16);
    line-height: rem(16);
    width: 100%;
    padding: 12px 20px;
    border-radius: $common-border-radius;
    color: $color-grey;
    @include colorHover($color-white);

    &.router-link-active {
      color: $color-white;
      background-color: $color-grey-darker;
      pointer-events: none;
    }
  }

  &__footer {
    border-top: 1px solid $color-grey-dark;
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  &__logout {
    color: $color-grey;
    font-weight: 600;
    @include colorHover($color-white);
  }
}

//Breakpoints ==================================
@include breakpoint(md-up) {
  .navbar {
    position: sticky;
    padding-top: 120px;
    top: calc($header-height-scroll + 24px);

    &__content {
      overflow: auto;
      max-height: calc(100vh - ($header-height-scroll + 24px));
    }

    &__nav {
      padding: 0;
    }
  }
}
