@use "../tools" as *;
.user-avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  color: $color-grey-medium;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;

  &:hover {
    color: $color-white;
  }

  &__img-container {
    overflow: hidden;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $color-grey-light;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}
