// colors
$color-white: #ffffff;
$color-black: #000000;

$color-grey-darker: #1A1A1A;
$color-grey-dark: #232323;
$color-grey-medium: #5C5C5C;
$color-grey: #d3d3d3;
$color-grey-light: #EFEFEF;
$color-grey-lighter: #F8F8F8;

$color-green-medium: #72a34f;
$color-green: #7AC142;
$color-green-light: #ABEFAA;
$color-green-lighter: #F0FAFE;

$color-red-dark: #6E3E3E;
$color-red: #FF6060;
$color-red-light: #EBBBBB;

$color-green-dark: #2B6C2D;
$color-green: #528965;
$color-green-light: #BBEBBD;

$color-yellow-dark: #775227;
$color-yellow: #D0810A;
$color-yellow-light: #F4DFB1;

$color-text: $color-black;
$color-border: rgba($color-grey-medium, 0.2);
$color-shadow: rgba($color-black, 0.1);